.grid * {
    border: 1px solid black;
    padding: 20px;
    color: white;
    font-size: 24px;
    text-align: center;
    background-color: teal;
}

.grid {
    display: grid;
    /* grid-template: rows / columns; сокращенное свойство */
    grid-template-columns: 100px 100px 100px;     /* размер и кол-во каждой колонки (ширина) */
    grid-template-rows: 100px 100px 100px;   /* размер и кол-во каждой ряда (высота) */
    /* grid-template-rows: repeat(3, 100px); */         /* работает точно так же как и сверху */

    /* grid-column-gap: 30px;                     отступ между колонками */
    /* grid-row-gap: 20px;                        отступ между рядами */

    grid-gap: 20px; /* сокращение то что сверху, 1 отступ между рядами, 2 между колонок */
    /* если отступ одинаковый то задаем одной цифрой */

    /* fr - фракция, это часть чего либо целого */
    /* f minmax(100px, 200px) - от мин размера до макс */
    /* repeat(3, 100px) - повторить 3 раза по 100px, есть запись (2, 50рх, 100рх) */
    /* значит что 1 и 3 по 50рх, 2 и 4 по 100рх */

    /* grid-auto-flow: row; */ /* row идет по умолчанию, свойство выстраивания рядов */

    /* явная и неявная сетка, в grid-template-rows мы указали явные 2 ряда, а 3 не явный */
    /* свойсвто ниже используется для указания размера неявных сеток */
    /* grid-auto-columns: 100px; */
    /* grid-auto-rows: 100px; */

    /* auto-fill - делает автозаполнение сетки, создавая переносы ячеек на новые строки */
    /* auto-fit - делает автозаполнения сетки, создавая переносы ячеек на новые строки */
    /* так что бы занять все доступное пространство в строке. */

    /* Выравнивание ячеек внутри колонок и рядов */
    justify-self: stretch; /* по умолчанию */
    align-items: stretch; /* по умолчанию */

}


/* Перемещение ячеек внутри сетки, свойство элэмента */
.grid > div:nth-child(1) {
    /* позволяет изменять размеры ячеек, в плоть до того что можно переносить с одной колонки на другую */
    /* grid-column-start: 1; */
    /* grid-column-end: 4; */
    /* короткое свойство */
    /* grid-column: start / end; */
}

.grid > div:nth-child(2) {
    /* grid-row-start: 2; */
    /* grid-row-end: 4; */
    /* короткое свойство */
    /* grid-row: start / end; */    
}